:root {
  --primary-height: 700px;
  --scrool-top: 0px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Code Pro", monospace;
  list-style: none;
  text-decoration: none;
  color: white;
}

html {
  scroll-behavior: smooth;
}

body {
  background: black;
}

/* Header section */
.header {
  position: fixed;
  width: 100%;
  padding: 2% 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  z-index: 1000;
}
.header .logo img {
  width: 144px;
  transition: 0.5s;
  opacity: 0;
  animation: slideTop 1s ease forwards;
}
.header .navlist {
  display: flex;
}
.header .navlist a {
  display: inline-block;
  margin-left: 32px;
  border-bottom: 2px solid transparent;
  font-size: 24px;
  color: white;
  transition: 0.5s;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}
.header .navlist a:hover {
  color: rgb(109, 36, 109);
  border-bottom: 2px solid white;
}
.header .icons-header {
  display: flex;
}
.header .icons-header i {
  margin: 0px 8px;
  font-size: 40px;
  transition: 0.5s;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}
.header .icons-header i:hover {
  color: rgb(109, 36, 109);
}
.header .icons-header .i-wrapper {
  transition: 0.5s;
}
.header .icons-header .i-wrapper:hover {
  transform: translateY(-8px);
}
.header .button-menu {
  display: none;
  font-size: 36px;
  color: white;
  cursor: pointer;
  animation: slideTop 1s ease forwards;
  animation-delay: 0.8s;
}

/* Hero section */
.hero {
  padding: 0 8%;
  padding-top: 12%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  /* Home section */
  /* Abous us section */
  /* Galery section */
  /* Items section */
  /* Size Guide section */
  /*Contact section */
}
.hero .home {
  width: 100%;
  height: var(--primary-height);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../home-gif.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  scroll-margin-top: var(--scrool-top);
}
.hero .home img {
  width: var(--primary-height);
  height: var(--primary-height);
}
.hero .about-us {
  width: 75%;
  height: var(--primary-height);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  scroll-margin-top: var(--scrool-top);
}
.hero .about-us .h1 {
  font-size: 48px;
  margin-bottom: 48px;
}
.hero .about-us span {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.hero .about-us p {
  padding: 8px 8px;
  font-size: 24px;
  text-align: center;
  transition: 0.5s;
}
.hero .about-us p:hover {
  color: rgb(109, 36, 109);
  transform: translateY(-8px);
}
.hero .galery {
  width: 100%;
  height: var(--primary-height);
  display: flex;
  align-items: center;
  user-select: none;
  overflow: clip;
  scroll-margin-top: var(--scrool-top);
}
.hero .galery .galery-content {
  display: flex;
  justify-content: space-around;
  flex-shrink: 0;
  animation: marquee 16s linear infinite;
}
.hero .galery .galery-content img {
  max-width: var(--primary-height);
  max-height: var(--primary-height);
  padding: 0 16px;
}
.hero .items {
  width: 100%;
  height: var(--primary-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  scroll-margin-top: var(--scrool-top);
}
.hero .items img {
  width: 100%;
  height: var(--primary-height);
  animation: rotateY-anim 5s linear infinite;
}
.hero .size-guide {
  width: 100%;
  height: var(--primary-height);
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  /* align-items: center; */
  scroll-margin-top: var(--scrool-top);
}
.hero .size-guide .guide {
  display: flex;
  justify-content: space-evenly;
}
.hero .size-guide .guide p {
  font-size: 24px;
}
.hero .size-guide .size-box {
  display: flex;
  justify-content: space-evenly;
  font-size: 24px;
}
.hero .size-guide .size-box .size-guide-hoodie, .hero .size-guide .size-box .size-guide-tshirt {
  text-align: center;
}
.hero .size-guide .size-box .size-guide-hoodie p, .hero .size-guide .size-box .size-guide-tshirt p {
  margin-bottom: 24px;
}
.hero .size-guide .size-box .size-guide-hoodie table, .hero .size-guide .size-box .size-guide-hoodie th, .hero .size-guide .size-box .size-guide-hoodie td, .hero .size-guide .size-box .size-guide-tshirt table, .hero .size-guide .size-box .size-guide-tshirt th, .hero .size-guide .size-box .size-guide-tshirt td {
  border: 1px solid rgb(109, 36, 109);
  padding: 8px;
}
.hero .size-guide .size-box .size-guide-hoodie th, .hero .size-guide .size-box .size-guide-tshirt th {
  padding: 16px;
}
.hero .size-guide .size-box .size-guide-hoodie td, .hero .size-guide .size-box .size-guide-tshirt td {
  padding: 16px;
}
.hero .contact {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  scroll-margin-top: var(--scrool-top);
}
.hero .contact .icons-contact {
  width: 75%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: 0.5s;
}
.hero .contact .icons-contact i {
  font-size: 48px;
  transition: 0.5s;
}
.hero .contact .icons-contact i:hover {
  color: rgb(109, 36, 109);
  transform: translateY(-16px);
}

@media (max-width: 1440px) {
  :root {
    --primary-height: 500px;
  }
  .hero {
    padding-top: 16%;
  }
}
@media (max-width: 1200px) {
  .header .navlist a {
    margin-left: 16px;
  }
}
@media (max-width: 1024px) {
  .header .logo img {
    width: 96px;
  }
  .header .navlist a {
    font-size: 16px;
  }
  .header .icons-header i {
    font-size: 32px;
  }
  .hero .about-us .h1 {
    font-size: 32px;
    margin-bottom: 36px;
  }
  .hero .about-us p {
    font-size: 16px;
  }
  .hero .size-guide .guide p {
    font-size: 16px;
  }
  .hero .size-guide .size-box {
    font-size: 16px;
  }
  .hero .contact .icons-contact i {
    font-size: 40px;
  }
}
@media (max-width: 900px) {
  .header .navlist {
    display: none;
  }
}
@media (max-width: 768px) {
  :root {
    --primary-height: 400px;
  }
  .hero {
    padding-top: 24%;
  }
  .hero .items {
    height: 1200px;
    flex-direction: column;
  }
  .hero .items img {
    height: 600px;
  }
  .hero .size-guide {
    height: 600px;
  }
  .hero .size-guide .size-box {
    height: 550px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .hero .contact .icons-contact i {
    font-size: 48px;
  }
}
@media (max-width: 480px) {
  .header {
    padding: 4% 8%;
  }
  .header .logo img {
    width: 64px;
  }
  .header .icons-header i {
    font-size: 24px;
  }
  .header .button-menu {
    font-size: 24px;
  }
  .hero .about-us {
    width: 100%;
  }
  .hero .about-us .h1 {
    margin-bottom: 16px;
  }
  .hero .items {
    height: 800px;
    flex-direction: column;
  }
  .hero .items img {
    height: 400px;
  }
}/*# sourceMappingURL=style.css.map */