:root{
    --primary-height : 800px;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
    list-style: none;
    text-decoration: none;
    color: white;
}

body{
    background: black;
}
/* Header section */
.header{
    width: 100%;
    padding: 0px 4%;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
    z-index: 1000;
}

.logo img{
    width: 140px;
    transition: .5s;
    opacity: 0;
    animation: slideTop 1s ease forwards; 
}

.header .navlist{
    display: flex;
}

.header .navlist a{
    display: inline-block;
    color: white;
    margin-left: 32px;
    font-size: 24px;
    border-bottom: 2px solid transparent;
    transition: .5s;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.header .navlist a:hover{
    color: rgb(109, 36, 109);
    border-bottom: 2px solid white;
}

.icons-header{
    display: flex;
}

.icons-header i{
    margin: 0px 10px;
    font-size: 40px;
    transition: .5s;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.icons-header .i-parent{
    transition: .5s;
}

.icons-header .i-parent:hover {
    transform: translateY(-8px);
}

.icons-header i:hover {
    color: rgb(109, 36, 109);
}

.button-menu{
    color: white;
    font-size: 36px;
    cursor: pointer;
    display: none;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.2s * 4);
}

/* Hero section */
.hero{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;
    padding-top: 8%;
    
}
/* Home section */
.hero .home{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: var(--primary-height);
    background-image: url(home-gif.gif);
    background-size: cover;
    background-repeat: no-repeat;
}

.hero .home img{
    width: 1000px;
    height: 1000px;
}
/* Abous us section */
.hero .about-us{
    width: 75%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero .about-us h1{
    font-size: 96px;
    margin-bottom: 48px;
}

.hero .about-us span{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.hero .about-us p{
    transition: .5s;
    padding: 0 8px;
    font-size: 48px;
    text-align: center;
}

.hero .about-us p:hover{
    color: rgb(109, 36, 109);
    transform: translateY(-8px);
}
/* Galery section */
.galery{
    display: flex;
    align-items: center;
    user-select: none;
    overflow: hidden;
    width: 100%;
    height: var(--primary-height);
}

.galery-content{
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    animation: marquee 16s linear infinite;
}

.galery-content img{
    max-width: 600px;
    max-height: 600px;
    padding: 0 16px;
}
/* Items section */
.items{
    width: 100%;
    height: var(--primary-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.items img{
    width: 100%;
    height: var(--primary-height);
    animation: rotateY-anim 5s linear infinite;
}
/* Size Guide section */
.size-guide{
    width: 100%;
    height: var(--primary-height);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-evenly;

}

.size-guide .guide{
    display: flex;
    justify-content: space-evenly;
    font-size: 16px;
}

.size-guide .size-box{
    display: flex;
    justify-content: space-evenly;
    font-size: 64px;
}

.size-guide .size-box table, th, td{
    border:1px solid rgb(109, 36, 109);;
    padding: 8px;
}

.size-guide .size-box th{
    padding:16px;
}
.size-guide .size-box td{
    padding:16px;
}

.size-guide-hoodie{
    text-align: center;
}

.size-guide-tshirt{
    text-align: center;
}
/*Contact section */
.contact{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 200px;
    /* background-color: red; */
}

.contact .icons-contact{
    width: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: .5s;
}

.contact .icons-contact i{
    font-size: 124px;
    transition: .5s;
}

.contact .icons-contact i:hover{
    color: rgb(109, 36, 109);
    transform: translateY(-16px);
}

@media (max-width: 1440px) {
    :root{
        --primary-height : 600px; 
    }

    .hero{
        padding-top: 16%;
    }

    .hero .home img{
        width: 700px;
        height: 700px;
    }

    .hero .about-us h1{
        font-size: 80px;
        margin-bottom: 48px;
    }
    
    .hero .about-us p{
        font-size: 40px;
    }

    .size-guide .size-box{
        font-size: 48px;
    }

    .contact .icons-contact i{
        font-size: 96px;
    }
}

@media (max-width: 1200px) {
    :root{
        /* --primary-height : 500px;  */
    }
    .header .navlist a{
        margin-left: 16px;
    }

    .hero{
        /* background: red; */
        padding-top: 16%;
    }

    .hero .home img{
        width: 700px;
        height: 700px;
    }
    .hero .about-us{
        height: 500px;
    }

    .hero .about-us h1{
        font-size: 64px;
        margin-bottom: 48px;
    }
    
    .hero .about-us p{
        font-size: 32px;
    }

    .size-guide .size-box{
        font-size: 32px;
    }

    .contact .icons-contact i{
        font-size: 80px;
    }

}

@media (max-width: 1024px) {
    :root{
        --primary-height : 500px; 
    }
    .header .navlist a{
        font-size: 16px;
        margin-left: 16px;
    }
    .logo img{
        width: 96px;
    }

    .icons-header i{
        font-size: 32px;
    }

    .hero{
        /* background: red; */
        padding-top: 16%;
    }

    .hero .home img{
        width: 500px;
        height: 500px;
    }
    .hero .about-us{
        height: 500px;
    }

    .hero .about-us h1{
        font-size: 36px;
        margin-bottom: 48px;
    }
    
    .hero .about-us p{
        font-size: 24px;
    }

    .size-guide .size-box{
        font-size: 24px;
    }

    .contact .icons-contact i{
        font-size: 64px;
    }


}

@media (max-width: 900px) {
    :root{
        --primary-height : 500px; 
    }
    .header .navlist{
        display: none;
    }

    .header .navlist a{
        font-size: 16px;
        margin-left: 16px;
    }

    .button-menu{
        display: flex;
    }
    .logo img{
        width: 96px;
    }

    .icons-header i{
        font-size: 32px;
    }

    .hero{
        /* background: red; */
        padding-top: 16%;
    }

    .hero .home img{
        width: 500px;
        height: 500px;
    }
    .hero .about-us{
        height: 500px;
    }

    .hero .about-us h1{
        font-size: 36px;
        margin-bottom: 48px;
    }
    
    .hero .about-us p{
        font-size: 24px;
    }

    .size-guide .size-box{
        font-size: 24px;
    }

    .contact .icons-contact i{
        font-size: 64px;
    }

   
}

@media (max-width: 768px) {

    :root{
        --primary-height : 400px; 
    }
    .header .navlist{
        display: none;
    }

    .header .navlist a{
        font-size: 16px;
        margin-left: 16px;
    }

    .button-menu{
        display: flex;
    }
    .logo img{
        width: 96px;
    }

    .icons-header i{
        font-size: 32px;
    }

    .hero{
        /* background: red; */
        padding-top: 16%;
    }

    .hero .home img{
        width: 400px;
        height: 400px;
    }
    .hero .about-us{
        height: 500px;
    }

    .hero .about-us h1{
        font-size: 36px;
        margin-bottom: 48px;
    }
    
    .hero .about-us p{
        font-size: 24px;
    }

    .items{
        width: 100%;
        /* background-color: aliceblue; */
        height: 1200px;
        flex-direction: column;
    }

    .items img{
        width: 100%;        
        height: 600px;
    }

    .size-guide{
        height: 600px;
    }

    .size-guide .size-box{
        height: 500px;
        /* background: bisque; */
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
    }

    .size-guide .guide{
        font-size: 12px;
        letter-spacing: -0.5px;
    }

    .size-guide .size-box{
        font-size: 16px;
    }

    .contact .icons-contact i{
        font-size: 48px;
    }

}

@media (max-width: 600px) {
    :root{
        --primary-height : 400px; 
    }
    .header .navlist{
        display: none;
    }

    .header .navlist a{
        font-size: 16px;
        margin-left: 16px;
    }

    .button-menu{
        display: flex;
    }
    .logo img{
        width: 96px;
    }

    .icons-header i{
        font-size: 32px;
    }

    .hero{
        /* background: red; */
        padding-top: 24%;
    }

    .hero .home img{
        width: 500px;
        height: 500px;
    }
    .hero .about-us{
        height: 500px;
    }

    .hero .about-us h1{
        font-size: 36px;
        margin-bottom: 48px;
    }
    
    .hero .about-us p{
        font-size: 24px;
    }

    .items{
        width: 100%;
        /* background-color: aliceblue; */
        height: 1200px;
        flex-direction: column;
    }

    .items img{
        width: 100%;        
        height: 600px;
    }

    .size-guide{
        height: 600px;
    }
    .size-guide .guide{
        font-size: 12px;
        letter-spacing: -0.5px;
    }

    .size-guide .size-box{
        height: 500px;
        /* background: bisque; */
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;

    }

    .contact .icons-contact i{
        font-size: 48px;
    }

}

@media (max-width: 480px) {
    :root{
        --primary-height : 400px; 
    }

    .header{
        padding: 0 8%;
    }
    .logo img{
        width: 70px;
    }
    
    .header .navlist a{
        /* margin-left: 32px; */
        font-size: 6px;
    }
    
    .icons-header i{
        /* margin: 0px 10px; */
        font-size: 20px;
    }
    
    .button-menu{
        font-size: 24px;
    }

    .hero{
        padding: 0 12%;
        padding-top: 24%;
        
    }
    /* Home section */
    .hero .home{
        width: 100%;
        height: 400px;
    }
    
    .hero .home img{
        width: 400px;
        height: 400px;
    }

    .hero .about-us{
        width: 100%;
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        /* background: beige; */
    }
    
    .hero .about-us h1{
        font-size: 24px;
        margin-bottom: 28px;
    }
    
    .hero .about-us p{
        transition: .5s;
        padding: 0 8px;
        font-size: 20px;
        text-align: center;
    }
    
    .items{
        width: 100%;
        /* background-color: aliceblue; */
        height: 800px;
        flex-direction: column;
    }

    .items img{
        width: 100%;        
        height: 400px;
    }

    .size-guide .guide{
        font-size: 8px;
        letter-spacing: -0.5px;
    }
    
}

@media (max-width: 320px) {


}