* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
    list-style: none;
    text-decoration: none;
    color: white;
}

body{
    background: black;
}

.header{
    width: 100%;
    padding: 16px 4%;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    z-index: 1000;
}

.logo img{
    width: 140px;
    transition: .5s;
    opacity: 0;
    animation: slideTop 1s ease forwards; 
}

.header .navlist{
    display: flex;
}

.header .navlist a{
    display: inline-block;
    color: white;
    margin-left: 30px;
    font-size: 24px;
    border-bottom: 2px solid transparent;
    transition: .5s;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.header .navlist a:hover{
    color: rgb(109, 36, 109);
    border-bottom: 2px solid white;
}

.icons-header{
    display: flex;
}

.icons-header i{
    margin: 0px 10px;
    font-size: 40px;
    transition: .5s;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.icons-header .i-parent{
    transition: .5s;
}

.icons-header .i-parent:hover {
    color: rgb(109, 36, 109);
    transform: translateY(-16px);
}

.icons-header i:hover {
    color: rgb(109, 36, 109);
    /* transform: translateY(-16px); */
}

.button-menu{
    color: white;
    font-size: 36px;
    cursor: pointer;
    display: none;
}

.hero{
    /* position: fixed; */
    width: 100%;
    flex-direction: column;
    /* height: 100%; */
    /* min-height: 100vh; */
    /* background: linear-gradient(360deg, #4d9559 0%, #38703d 28.53%, #133917 75.52%); */
    display: flex;
    padding: 13% 8%;
    justify-content: space-between;
    align-items: center;
}

.hero .home{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 800px;
    background-image: url(home-gif.gif);
    /* margin-top: 20%; */
    background-size: cover;
    background-repeat: no-repeat;
    background-color: aliceblue;
}
.hero .home img{
    width: 760px;
    height: 760px;
}

.hero .about-us{
    width: 50%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero .about-us h1{
    font-size: 70px;
}

.hero .about-us p{
    font-size: 24px;
    text-align: center;
}
.galery{
    display: flex;
    user-select: none;
    overflow: hidden;
    width: 100%;
}

.galery-content{
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    min-width: 100vw;
    animation: marquee 10s linear infinite;
}

.galery-content img{
    max-width: 300px;
    max-height: 300px;
}

.items{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-between;
    /* background-color: aqua; */
}
.items img{
    width: 650px;;
    height: 700px;
    animation: rotateY-anim 5s linear infinite;
    /* background-color: aliceblue; */
}

.size-guide{
    width: 100%;
    height: 640px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-evenly;

}

.size-guide .guide{
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
}

.size-guide .size-box{
    display: flex;
    justify-content: space-evenly;
    font-size: 62px;
}

.size-guide .size-box table, th, td{
    border:1px solid rgb(109, 36, 109);;
    padding: 8px;
}

.size-guide .size-box th{
    padding:16px;
}
.size-guide .size-box td{
    padding:16px;
}

.size-guide-hoodie{
    text-align: center;
}

.size-guide-tshirt{
    text-align: center;
}

.contact{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 200px;
    /* background-color: red; */
}

.contact .icons-contact{
    width: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: .5s;
}

.contact .icons-contact i{
    font-size: 124px;
    transition: .5s;
}

.contact .icons-contact i:hover{
    color: rgb(109, 36, 109);
    transform: translateY(-16px);
}